@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Poppins:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



nav{
    background-color: blueviolet;
    font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 20px;
}
ul {
    background-color: blueviolet;
    display: flex;
   
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.nav {
    background-color: blueviolet;
    justify-content: flex-end;
    margin: 20px;
    text-decoration: none;
    
}

a{
    background-color: blueviolet;
    color: rgb(253, 253, 253);
    text-decoration: none;
}